<!-- DIV PAI DA NAV-BAR -->
<nav class="navbar navbar-expand-lg d-flex justify-content-between col-12">

  <!-- CONTAINER PARA TITULO E BOTÃO -->
  <div class="d-flex justify-content-between align-items-center w-100 mx-3">
    <!-- TITULO -->
    <div class="d-flex align-items-center">
      <p class="title mb-0">Where in the world?</p>
    </div>

    <!-- BOTÃO DO DARK MODE -->
    <div class="form-check form-switch d-flex align-items-center">
      <i class="bi bi-moon-fill mr-1 cursor-pointer" (click)="changeTheme()"></i>
      <p class="text subtitle mb-0">Dark Mode</p>
    </div>
  </div>

</nav>
